 /* 2K SCREENS 2K SCREENS 2K SCREENS 2K SCREENS 2K SCREENS 2K SCREENS
 2K SCREENS 2K SCREENS 2K SCREENS 2K SCREENS 2K SCREENS 2K SCREENS 
 2K SCREENS 2K SCREENS 2K SCREENS 2K SCREENS 2K SCREENS 2K SCREENS  */


html {
    scroll-behavior: smooth;
}

body{
    max-width:2402px;
    background-color:#E9F1E9;
    transition:.3s  ease;
    color:#2B3A2B;
}

a{
    color:#2B3A2B;
    text-decoration:none;
}

p{
    font-size:18px;
    -webkit-font-smoothing: antialiased;
    line-height:40px;
    font-family: open-sans, sans-serif;
    color:#2B3A2B;
    font-weight: 400;
    font-style: normal; 
}







.sside{
    position:fixed;
    height:100%;
    background-color:#EAF1EA;
    right:-502px;
    bottom:0;
    width:500px;
    transition:.3s;
    z-index:4;
    border-left:2px solid #2B3A2B;
    transition-timing-function: ease;
}

.seriouslinks{
    margin-left:80px;
    margin-top:80px;
}

h1{
    font-family:gopher, sans-serif;
    font-size:68px;
    line-height:120px;
    font-weight:500;

}

.h1alsothis{
    font-family:gopher, sans-serif;
    font-size:68px;
    font-weight:500;
    line-height:-20px;
}

.babies{
    padding-top:20px;
}

h2{

    font-family:gopher, sans-serif;
    font-size:36px;
    font-weight:300;
}

h2 img{
    max-height:25px;
    padding-right:25px;
}
    
h2:hover img{
    animation-name: bounce;
    animation-duration: 750ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes bounce {
    0% {
        transform:translateX(0);
    }
    50% {
        transform:translateX(10px);
    }
    100% {
        transform:translateX(0px);
    }
}








#anotherheader{
    width:100%;
    display:flex;
    color:#2B3A2B;
    background-color:#E9F1E9;
    margin-top:-10px;
    margin-left:-10px;
    padding-right:160px;
    z-index:5;
    border-bottom:2px solid #2B3A2B;
}

#actualtopleft{
    display:flex;
    width:100%;
    margin-left:0px;
    padding-left:17px;
}

#actualtopleft img{
    max-width:40px;
    margin-top:2px;
    padding-right:5px;
}

#rota img{
    position:fixed;
    max-height:40px;
    margin-top:17px;
    margin-left:10px;
    filter: grayscale(100%) sepia(100%) hue-rotate(40deg);
}

#topper{
    width:100%;
    margin-top:30px;
    padding-bottom:25px;
    z-index:1;
    padding-left:76px;
    font-family: gopher, sans-serif;
    font-size:18px;
    font-weight:400;
    letter-spacing:0px;
}

#topper b{
    font-family: gopher, sans-serif;
    letter-spacing:1px;
    font-weight:600;
    font-size:18px;
}

.ux{
    padding-left:5px;
}










header{
    width:100%;
    display:flex;
    color:#2B3A2B;
    position:fixed;
    background-color:#E9F1E9;
    left:0;
    bottom:0;
    z-index:5;
}

.topleft{
    border-top:2px solid #2B3A2B;
    display:flex;
    width:90%;
    padding-left:80px;
}

.navlinks{
    border-top:2px solid #2B3A2B;
    width:10%;
    margin-right:150px;
    padding-right:50px;
    display:flex;
    transition: .5s;
}

.nl{
    font-family: gopher, sans-serif;
    font-size:18px;
    font-weight:300;
    padding-top:25px;
    padding-bottom:30px;
    padding-right:80px;
    transition: .8s;
}








#natilation{
    position:relative;
    background-color:transparent;
    z-index:8;
    transition: .5s;
}

.rotatingm img{
    position:fixed;
    bottom:25px;
    right:25px;
    width:100px;
    height:100px;
    background-color:transparent;
    animation-name: men;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    transition: 1s;
}

@keyframes men {
    0% {
    }

    100% {
        transform:rotate(360deg);
    }
}

.menbase img{
    position:fixed;
    bottom:-25px;
    right:-25px;
    width:200px;
    transition: 1s;
}










#hole{
    display:flex;
    padding-left:78px;
    width:100%;
    margin-top:120px;
    color:#2B3A2B;
}

#intro{
    display:flex;
}

#intro img{
    height:45px;
    width:45px;
    background-color:transparent;
    animation-name: globe;
    margin-left:1px;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes globe {
    0% {
        transform:rotate(-0deg);
    }
    100% {
        transform:rotate(3600deg);
    }
}

h3{
    font-family: gopher, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:85px;}

.nowrap{
    white-space:nowrap
}

.letters{
    margin-left:0px;
}









#background{
    margin-top:120px;
    color:#2B3A2B;
    margin-left:80px;
}

h4{
    font-family: gopher, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:32px;
}

.bodyodyody{
    margin-top:-15px;
}







.title{
    margin-left:80px;
    color:#2B3A2B;
    margin-top:160px;
}







.gridcontainer{
    margin-left:80px;
    display:grid;
    height:1800px;
    width:100%;
    grid-template-columns:1fr 1fr 80px;
    grid-template-rows:1fr 1fr;
    grid-template-areas:
    "topleft topright rightside"
    "bottomleft  bottomright rightside"
    ;
}

.tleft{
    grid-area:topleft;
    padding-right:40px;
}

.tleft img{
    max-width:100%;
}

.tright{
    grid-area:topright;
    padding-left:40px;
}

.tright img{
    max-width:100%;
}

.bleft{
    grid-area:bottomleft;
    padding-right:40px;
}

.bleft img{
    max-width:100%;
}

.bright{
    grid-area:bottomright;
    padding-left:40px;
}

.bright img{
    max-width:100%;
}

.rigside{
    grid-area:rightside;
}

.talmbout{
    margin-top:-20px;
    padding-bottom:40px;
}

.titletag{
    margin-top:-70px;
    display:flex;
    padding-bottom:80px;
}

.tag{
    padding-right:7px;
    font-family: gopher, sans-serif;
    font-weight:500;
    letter-spacing:1px;
    text-transform:uppercase;
    letter-spacing:2px;
    padding-top:20px;
    color:#2B3A2B;
    font-size:14px;
}








.borderbottom{
    margin-top:180px;
    border-top:2px solid #2B3A2B;
    width:0px;
    margin-left:-25px;  
    transition: .5s linear;

}











.bbottom{
    grid-area:bottom;
    padding-top:120px;
    display:flex;
    padding-bottom:220px;
    padding-left:200px;
    margin-left:-25px;
    margin-top:0px;
}

.cred{
    width:600px;
}

.fm{
    width:500px;
}
.fm img{
    max-height:14px;
}

.socials{
    display:flex;
    word-spacing:40px;
    margin-top:-35px;
}

.socials img{
    height:18px;
    width:18px;
    padding-right:5px;
}











.hex{
    display:flex;
    position:absolute;
    left:1600px;
    z-index:3;
    bottom: -2350px ;
    opacity:0;
    transition:all .3s linear;
}

.corn img{
    transform:rotate(15deg);
}

.curntext{
    margin-top:230px;
    margin-left:70px;
    transition:all .3s linear;
}


.sideclick{
    transition:.5s ease;
    position:absolute;
}

.curnsideclick{
    transition:.5s linear;
    position:absolute;
}






.preload{
    position:fixed;
    width:100%;
    height:100vh;
    z-index:100000;
    top:0;
    margin-left:-10px;
    display:flex;
    justify-content:center;
    background-color:#E9F1E9;
}

.preload img{
    width:200px;
    height:200px;
    margin:auto auto;
}

.loader{
    background-color:transparent;
    animation-name: spin;
    animation-duration: 6000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    0% {
        transform:rotate(-0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}







.borderbottomafter{
    width:calc(100% + 175px);
    transition:.5s linear;
}

.show{
    opacity:1;
    transition:.5s ease;
}

.curntextscroll{
    opacity:1;
    transition:all .5s linear;
}

.cmen img{
    animation-name: cmen;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    transition: 3s;
}

@keyframes cmen {
    0% {
    }

    100% {
        transform:rotate(-360deg);
    }
}

.cside{
    border-left:2px solid #2B3A2B;
    margin-right:500px;
    height:100%;
    transition: .3s;
    transition-timing-function: ease;
}

.pagesize{
    max-width:1902px;
}

.txtclick{
    opacity:0;
    transition:all .3s linear;
}






@media only screen and (max-width: 2240px) {

    .curntext{
        opacity:0;
        }
}

@media only screen and (max-width: 2075px) {

    .hex{
        left:1450px;
        }
}

@media only screen and (max-width: 1925px) {

    .hex{
        left:1350px;
        }
}

@media only screen and (max-width: 1830px) {

    .hex{
        left:1250px;
        }
}

@media only screen and (max-width: 1550px) {

    .hex{
        left:1150px;
        }
}


 /* 1440 SCREENS 1440 SCREENS 1440 SCREENS 1440 SCREENS 1440 SCREENS 
 1440 SCREENS 1440 SCREENS 1440 SCREENS 1440 SCREENS 1440 SCREENS 
 1440 SCREENS 1440 SCREENS 1440 SCREENS 1440 SCREENS 1440 SCREENS  */

 @media only screen and (max-width: 1441px) {

.sside{
    right:-402px;
    width:400px;
}

p{
    font-size:12px;
    line-height:25px;
}


.seriouslinks{
    margin-top:40px;
}

h1{
     font-size:36px;
     line-height:80px;
}

.h1alsothis{
    font-size:36px;
    line-height:-10px;
}

h2{
     font-size:24px;
}

h2 img{
    max-height:18px;
}

.babies{
    padding-top:0px;
}

.topleft{
    width:85%;
}

.navlinks{
    margin-right:120px;
    padding-right:20px;
    width:15%;
}

.nl{
    font-size:16px;
    padding-top:20px;
    padding-bottom:25px;
}

.rotatingm img{
    width:80px;
    height:80px;
}

.menbase img{
    width:180px;

}
#rota img{
    margin-top:14px;
}

#topper{
    font-size:16px;
    margin-top:25px;
    padding-bottom:20px;
}

#topper b{
    font-size:16px;
}

#hole{
    margin-top:40px;
}

#intro img{
    height:25px;
    width:25px;
}

h3{
    font-size:48px;
}


#background{
    margin-top:40px;
}

h4{
    font-size:24px;
}

.bodyodyody{
    margin-top:-10px;
}

.gridcontainer{
    grid-template-columns:1fr 1fr 50px;
    height:1200px;
}

.talmbout{
    margin-top:0px;
}

.titletag{
    margin-top:-50px;
    font-size:10px;
    padding-bottom:00px;
}

.preload img{
    width:150px;
    height:150px;
}

.borderbottom{
    margin-top:80px;
    width:0px;
}

.bbottom{
    padding-bottom:160px;
    padding-left:100px;
    padding-top:60px;
}

.hex{
    bottom: -1680px ;
    left:900px;
}

.corn img{
    max-width:180px;
}

.curntext{
    margin-left:40px;
    width:100px;
    margin-top:140px;
    font-size:12px;
}

.cred{
    width:400px;
}
.fm{
    width:300px;
}

.fm img{
    max-height:12px;
}

.socials{
    margin-top:-28px;
}
.socials img{
    height:12px;
    width:12px;
    padding-top:9px;
}

.pagesize{
    max-width:1090px;
}

.cside{
    margin-right:400px;
}

.borderbottomafter{
    width:calc(100% + 175px);
    transition:.5s linear;
}
.show{
    opacity:1;
    transition:.5s ease;
}

.curntextscroll{
    opacity:1;
    transition:all .5s linear;
}